<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="true"
	maxImageWidth="709"
	maxImageHeight="456"
	imageQuality="99"
	indexPageName="gallery.html"
	galleryTitle="Bagged &amp; Tagged"

>
  <image imageURL="images/Bagged&amp;tagged038.jpg"
	thumbURL="thumbs/Bagged&amp;tagged038.jpg"
	linkURL="images/Bagged&amp;tagged038.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged038.jpg">
    <title><![CDATA[Bagged&tagged038]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged001.jpg"
	thumbURL="thumbs/Bagged&amp;tagged001.jpg"
	linkURL="images/Bagged&amp;tagged001.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged001.jpg">
    <title><![CDATA[Bagged&tagged001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged002.jpg"
	thumbURL="thumbs/Bagged&amp;tagged002.jpg"
	linkURL="images/Bagged&amp;tagged002.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged002.jpg">
    <title><![CDATA[Bagged&tagged002]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged003.jpg"
	thumbURL="thumbs/Bagged&amp;tagged003.jpg"
	linkURL="images/Bagged&amp;tagged003.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged003.jpg">
    <title><![CDATA[Bagged&tagged003]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged004.jpg"
	thumbURL="thumbs/Bagged&amp;tagged004.jpg"
	linkURL="images/Bagged&amp;tagged004.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged004.jpg">
    <title><![CDATA[Bagged&tagged004]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged005.jpg"
	thumbURL="thumbs/Bagged&amp;tagged005.jpg"
	linkURL="images/Bagged&amp;tagged005.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged005.jpg">
    <title><![CDATA[Bagged&tagged005]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged006.jpg"
	thumbURL="thumbs/Bagged&amp;tagged006.jpg"
	linkURL="images/Bagged&amp;tagged006.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged006.jpg">
    <title><![CDATA[Bagged&tagged006]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged007.jpg"
	thumbURL="thumbs/Bagged&amp;tagged007.jpg"
	linkURL="images/Bagged&amp;tagged007.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged007.jpg">
    <title><![CDATA[Bagged&tagged007]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged008.jpg"
	thumbURL="thumbs/Bagged&amp;tagged008.jpg"
	linkURL="images/Bagged&amp;tagged008.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged008.jpg">
    <title><![CDATA[Bagged&tagged008]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged009.jpg"
	thumbURL="thumbs/Bagged&amp;tagged009.jpg"
	linkURL="images/Bagged&amp;tagged009.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged009.jpg">
    <title><![CDATA[Bagged&tagged009]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged010.jpg"
	thumbURL="thumbs/Bagged&amp;tagged010.jpg"
	linkURL="images/Bagged&amp;tagged010.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged010.jpg">
    <title><![CDATA[Bagged&tagged010]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged011.jpg"
	thumbURL="thumbs/Bagged&amp;tagged011.jpg"
	linkURL="images/Bagged&amp;tagged011.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged011.jpg">
    <title><![CDATA[Bagged&tagged011]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged012.jpg"
	thumbURL="thumbs/Bagged&amp;tagged012.jpg"
	linkURL="images/Bagged&amp;tagged012.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged012.jpg">
    <title><![CDATA[Bagged&tagged012]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged013.jpg"
	thumbURL="thumbs/Bagged&amp;tagged013.jpg"
	linkURL="images/Bagged&amp;tagged013.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged013.jpg">
    <title><![CDATA[Bagged&tagged013]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged014.jpg"
	thumbURL="thumbs/Bagged&amp;tagged014.jpg"
	linkURL="images/Bagged&amp;tagged014.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged014.jpg">
    <title><![CDATA[Bagged&tagged014]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged015.jpg"
	thumbURL="thumbs/Bagged&amp;tagged015.jpg"
	linkURL="images/Bagged&amp;tagged015.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged015.jpg">
    <title><![CDATA[Bagged&tagged015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged016.jpg"
	thumbURL="thumbs/Bagged&amp;tagged016.jpg"
	linkURL="images/Bagged&amp;tagged016.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged016.jpg">
    <title><![CDATA[Bagged&tagged016]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged017.jpg"
	thumbURL="thumbs/Bagged&amp;tagged017.jpg"
	linkURL="images/Bagged&amp;tagged017.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged017.jpg">
    <title><![CDATA[Bagged&tagged017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged018.jpg"
	thumbURL="thumbs/Bagged&amp;tagged018.jpg"
	linkURL="images/Bagged&amp;tagged018.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged018.jpg">
    <title><![CDATA[Bagged&tagged018]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged019.jpg"
	thumbURL="thumbs/Bagged&amp;tagged019.jpg"
	linkURL="images/Bagged&amp;tagged019.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged019.jpg">
    <title><![CDATA[Bagged&tagged019]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged020.jpg"
	thumbURL="thumbs/Bagged&amp;tagged020.jpg"
	linkURL="images/Bagged&amp;tagged020.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged020.jpg">
    <title><![CDATA[Bagged&tagged020]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged021.jpg"
	thumbURL="thumbs/Bagged&amp;tagged021.jpg"
	linkURL="images/Bagged&amp;tagged021.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged021.jpg">
    <title><![CDATA[Bagged&tagged021]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged022.jpg"
	thumbURL="thumbs/Bagged&amp;tagged022.jpg"
	linkURL="images/Bagged&amp;tagged022.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged022.jpg">
    <title><![CDATA[Bagged&tagged022]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged023.jpg"
	thumbURL="thumbs/Bagged&amp;tagged023.jpg"
	linkURL="images/Bagged&amp;tagged023.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged023.jpg">
    <title><![CDATA[Bagged&tagged023]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged024.jpg"
	thumbURL="thumbs/Bagged&amp;tagged024.jpg"
	linkURL="images/Bagged&amp;tagged024.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged024.jpg">
    <title><![CDATA[Bagged&tagged024]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged025.jpg"
	thumbURL="thumbs/Bagged&amp;tagged025.jpg"
	linkURL="images/Bagged&amp;tagged025.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged025.jpg">
    <title><![CDATA[Bagged&tagged025]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged026.jpg"
	thumbURL="thumbs/Bagged&amp;tagged026.jpg"
	linkURL="images/Bagged&amp;tagged026.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged026.jpg">
    <title><![CDATA[Bagged&tagged026]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged027.jpg"
	thumbURL="thumbs/Bagged&amp;tagged027.jpg"
	linkURL="images/Bagged&amp;tagged027.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged027.jpg">
    <title><![CDATA[Bagged&tagged027]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged028.jpg"
	thumbURL="thumbs/Bagged&amp;tagged028.jpg"
	linkURL="images/Bagged&amp;tagged028.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged028.jpg">
    <title><![CDATA[Bagged&tagged028]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged029.jpg"
	thumbURL="thumbs/Bagged&amp;tagged029.jpg"
	linkURL="images/Bagged&amp;tagged029.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged029.jpg">
    <title><![CDATA[Bagged&tagged029]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged030.jpg"
	thumbURL="thumbs/Bagged&amp;tagged030.jpg"
	linkURL="images/Bagged&amp;tagged030.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged030.jpg">
    <title><![CDATA[Bagged&tagged030]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged031.jpg"
	thumbURL="thumbs/Bagged&amp;tagged031.jpg"
	linkURL="images/Bagged&amp;tagged031.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged031.jpg">
    <title><![CDATA[Bagged&tagged031]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged032.jpg"
	thumbURL="thumbs/Bagged&amp;tagged032.jpg"
	linkURL="images/Bagged&amp;tagged032.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged032.jpg">
    <title><![CDATA[Bagged&tagged032]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged033.jpg"
	thumbURL="thumbs/Bagged&amp;tagged033.jpg"
	linkURL="images/Bagged&amp;tagged033.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged033.jpg">
    <title><![CDATA[Bagged&tagged033]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged034.jpg"
	thumbURL="thumbs/Bagged&amp;tagged034.jpg"
	linkURL="images/Bagged&amp;tagged034.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged034.jpg">
    <title><![CDATA[Bagged&tagged034]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged035.jpg"
	thumbURL="thumbs/Bagged&amp;tagged035.jpg"
	linkURL="images/Bagged&amp;tagged035.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged035.jpg">
    <title><![CDATA[Bagged&tagged035]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged036.jpg"
	thumbURL="thumbs/Bagged&amp;tagged036.jpg"
	linkURL="images/Bagged&amp;tagged036.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged036.jpg">
    <title><![CDATA[Bagged&tagged036]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged037.jpg"
	thumbURL="thumbs/Bagged&amp;tagged037.jpg"
	linkURL="images/Bagged&amp;tagged037.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged037.jpg">
    <title><![CDATA[Bagged&tagged037]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged039.jpg"
	thumbURL="thumbs/Bagged&amp;tagged039.jpg"
	linkURL="images/Bagged&amp;tagged039.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged039.jpg">
    <title><![CDATA[Bagged&tagged039]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged040.jpg"
	thumbURL="thumbs/Bagged&amp;tagged040.jpg"
	linkURL="images/Bagged&amp;tagged040.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged040.jpg">
    <title><![CDATA[Bagged&tagged040]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged041.jpg"
	thumbURL="thumbs/Bagged&amp;tagged041.jpg"
	linkURL="images/Bagged&amp;tagged041.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged041.jpg">
    <title><![CDATA[Bagged&tagged041]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged042.jpg"
	thumbURL="thumbs/Bagged&amp;tagged042.jpg"
	linkURL="images/Bagged&amp;tagged042.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged042.jpg">
    <title><![CDATA[Bagged&tagged042]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged043.jpg"
	thumbURL="thumbs/Bagged&amp;tagged043.jpg"
	linkURL="images/Bagged&amp;tagged043.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged043.jpg">
    <title><![CDATA[Bagged&tagged043]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged044.jpg"
	thumbURL="thumbs/Bagged&amp;tagged044.jpg"
	linkURL="images/Bagged&amp;tagged044.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged044.jpg">
    <title><![CDATA[Bagged&tagged044]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged045.jpg"
	thumbURL="thumbs/Bagged&amp;tagged045.jpg"
	linkURL="images/Bagged&amp;tagged045.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged045.jpg">
    <title><![CDATA[Bagged&tagged045]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged046.jpg"
	thumbURL="thumbs/Bagged&amp;tagged046.jpg"
	linkURL="images/Bagged&amp;tagged046.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged046.jpg">
    <title><![CDATA[Bagged&tagged046]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged047.jpg"
	thumbURL="thumbs/Bagged&amp;tagged047.jpg"
	linkURL="images/Bagged&amp;tagged047.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged047.jpg">
    <title><![CDATA[Bagged&tagged047]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Bagged&amp;tagged048.jpg"
	thumbURL="thumbs/Bagged&amp;tagged048.jpg"
	linkURL="images/Bagged&amp;tagged048.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Back_up_master/websites/images1/images_use/Bagged&amp;tagged048.jpg">
    <title><![CDATA[Bagged&tagged048]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>